body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.loading__author {
  display: block;
  font-weight: normal;
  font-size: 0.9rem;
  color: rgba(141, 141, 193, 1);
  margin: 0.6rem 0 1.5rem 0;
}

.loading__anim {
  width: 35px;
  height: 35px;
  border: 5px solid rgba(7, 143, 78, 1);
  border-left-color: brown;
  border-top-color: brown;
  border-radius: 50%;
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}